/* Global styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #333;
}

html,
body {
  height: auto;
  min-height: 100vh;
}

html {
  background: linear-gradient(180deg, rgba(234, 2, 255, 1) 0%, #0097ff 100%);
}

input:focus {
  outline: none;
}

/* Register container */
#register-container {
  max-width: 900px;
  min-height: 80vh;
  margin: 2rem auto;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#register-banner {
  background: url("/img/john-lee.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
}

#banner-layer {
  background-color: rgba(25, 1, 122, 0.3);
  box-shadow: inset 0 0 10rem rgba(0, 0, 0, 0.4);
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#register-banner h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: #fff;
  word-spacing: 50rem;
}

/* Form container */
#register-form {
  background-color: #fdfdfd;
  width: 50%;
  display: flex;
  padding: 2rem;
  flex-direction: column;
}

#register-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

#register-form p {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #aaa;
  font-size: 0.8rem;
}

.form-control {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.form-control input {
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 0.6rem;
}

#generate-password {
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

#generate-password:hover {
  color: #0097ff;
}

#register-form #generated-password {
  border: 1px solid #0097ff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.4rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
  display: none;
}

#register-form #generated-password p{
  color: #0010ff;
  margin-bottom: 0.5rem;
}


#register-form input[type="submit"] {
  background-color: #0097ff;
  color: #fff;
  opacity: .8;
  border: none;
  border-radius: 2rem;
  padding: 1rem 1.4rem;
  max-width: 150px;
  cursor: pointer;
  align-self: flex-end;
  transition: 0.4s;
}

#register-form input[type="submit"]:hover {
  opacity: 1;
} 
